{% extends 'components/base.html' %} {% block content %} {%load static%}
<div class="wrapper uk-container" style="min-height: 57vh">
  <article class="uk-article" style="margin-top: 30px">
    <h2>Контакты</h2>
    <p>
      Фактический адрес: г.Тверь ул.Желябова 28 ТЦ "Универ" 2 этаж, пом.210
      <br />
      Электронная почта: filadonna.filato@yandex.ru
      <br />
      Телефоны:+7(900)110-49-50
    </p>

    <p>
      <b>Часы работы:</b> <br />
      Суббота - с 11.00 до 16.00
      <br />
      Воскресенье - выходной
    </p>
    <p>
      <b>Реквизиты:</b> <br />
      ИП Иванова-Кирсанова И.В.<br />
      ИНН 690501605018 / ОГРНИП 319695200026573<br />
      Юридический адрес: 170043 г.Тверь, ул.Нестерова <br />
      Тел./факс: +7(900)110-49-50
    </p>
  </article>
</div>
{%endblock%}
