{% extends 'components/base.html' %} {% block content %} {%load static%}
<div class="wrapper uk-container" style="min-height: 57vh">
  <article class="uk-article" style="margin-top: 30px">
    <h2>Правила</h2>
    <p>
      Рады приветствовать Вас в нашем магазине итальянской пряжи Filadonna!
      <br />
      Здесь вы найдете отличную пряжу производства Италии!

      <br />
      Прошу Вас ознакомиться с нашими правилами!
    </p>
    <h3>Вес</h3>
    <p>
      Пряжа продается как бобинами целиком, так и отматывается нужное вам
      количество, но до общего остатка 300-350гр это поможет сохранять
      востребованные остатки. В карточке товара вы с легкостью можете найти
      строку с весом в наличии. Так же там указано до какого количества грамм вы
      можете заказать отмот!
    </p>
    <p>
      Для каждого вида пряжи действует свой минимальный вес покупки (100-150гр)!
      Это так же указано в карточке товара на кнопке с клубочком.
    </p>
    <p>
      Так же обращаем ваше внимание на то, что пряжа очень восприимчива к
      влажности!! Поэтому некоторые потери веса с сохранением при этом метража,
      считаются нормой! Мы всегда тщательно взвешиваем пряжу при приемке товара,
      но в процессе хранения она может терять в весе до 3-5%, ведь хранится она
      в отапливаемом помещении, а это потеря влажности!! И если вдруг вы
      захотите возразить, мол, что она у вас в шкафку 10 лет хранится и не
      становится легче, мы готовы поспорить) так как у вас в шкафу влажность
      примерно постоянная и мы не имеем возможности предварительно просушивать
      пряжу годами)) Смена климата (а пряжа у нас из Италии) делает свое дело!!
      И потом, ведь связанный свитер может стать легче, но при этом не станет
      меньшего размера!!
    </p>
    <h3>Размот</h3>
    <p>
      В нашем магазине пряжа разматывается только на конусы!! Исключение
      составляет толстая пряжа, пряжа, размот которой технически возможен только
      на мотки или пряжа уже смотанная в моток (остатки)! Магазин оставляет за
      собой право выбора способа отмота!! Так же вы можете заказать размот на
      несколько конусов! Для этого при оформлении заказа в корзине добавьте
      нужное количество конусов (графа «Конусы» внизу заказа) и в комментарии
      укажите какой артикул вы хотите размотать и на какое количество конусов!
      Если пряжа продается отмотом, отдельно добавляется конус! Мы добавим конус
      к заказу в случае если нам придется делить имеющуюся бобинку на части.
    </p>
    <p>
      Так же магазин оставляет за собой право отправки заказанного веса
      несколькими частями (даже если вы не заказывали размот, пряжа у нас может
      быть на нескольких конусах либо в мотках) Отправка указанного веса
      несколькими бобинками браком не считается и к возврату не принимается!!
    </p>
    <h3>Цвет</h3>
    <p>
      Обращаю ваше внимание, что цветопередача всех мониторов разная!! Магазин
      не несет ответственности за ваше восприятие цвета и передачу на вашем
      мониторе, так же при разных условиях освещения один и тот же цвет
      смотрится по-разному!! Проведите тест и попробуйте сделать фото
      самостоятельно, вы увидите, что на всех фото цвет будет передаваться
      по-разному!! Помните, что пряжа надлежащего качества не подлежит
      возврату!!
    </p>
    <h3>Оформление заказа</h3>
    <p>
      При оформлении заказа точно указывайте свои данные!! ФИО, номер телефона,
      адрес электронной почты и адрес доставки! Не забудьте указать индекс для
      почты России! Это поможет сэкономить время и избежать недоразумений!! Если
      вы выбираете доставку СДЭК найдите в списке ближайший вам пункт выдачи
      заказа! Если вы хотите доставку до квартиры, укажите в комментарии
      «ДОСТАВКА СДЭК ДО КВАРТИРЫ» и пропишите адрес. По умолчанию считается
      доставка до пункта выдачи и доставка до квартиры будет дороже. Мы сами
      рассчитаем стоимость доставки и вышлем вам счет! Если вы выбираете
      доставку почтой России, не забудьте указать индекс точный адрес и ФИО! Так
      как мы оформляем все посылки через сайт почта России, то в случае
      расхождения указанного вами индекса и индекса выдаваемого системой сайта
      почты, приоритентым будет индекс указанный вами. В этом случае посылка
      будет оформлена "до востребования" и придет именно в указанное вами
      отделение.
    </p>
    <p>
      ОБРАЩАЕМ ВНИМАНИЕ, что доставка СДЭК расчитывается автоматически как
      "стандартная", но в некоторые регионы есть "экономичная доставка" (она
      прилично дешевле!) . Мы отправляем самым экономичным способом. Если вам
      удобнее получить посылку в пункте выдачи СДЭК, но вас смущает стоимость, в
      комментарии к заказу укажите пункт выдачи СДЭК, мы уточним стоимость
      доставки и свяжемся с вами.
    </p>
    <p>
      После оформления заказа ПРОВЕРЬТЕ указанную почту , именно туда придет
      ССЫЛКА НА ОПЛАТУ! ССЫЛКА ДЕЙСТВИТЕЛЬНА В ТЕЧЕНИИ СУТОК!
    </p>
    <p>
      Мы стараемся максимально быстро обрабатывать ваши заказы и поэтому не
      перезваниваем для уточнения заказа! Всю дополнительную информацию
      указывайте в тексте комментария!! Все прочитаем, при возникновении
      вопросов напишем вам письмо!
    </p>

    <h3>Страховка</h3>
    <p>
      Рекомендуем вам страховать отправления!! Конечно, случай 1 на несколько
      сотен, но будет очень обидно, если посылка потеряется, а деньги вам не
      вернут. Страховка в СДЭК всего 0,75% от стоимости товара, у почты России
      4% от объявленной ценности. Страхование поможет вам в случае утери вернуть
      и стоимость заказа, и стоимость пересылки
    </p>

    <h3>Оплата</h3>
    <p>
      После оформления заказа на указанную вами почту будет выслано письмо с
      подтверждением наличия и ссылка на оплату, либо номер карты для
      перечисления. Оплата осуществляется в защищённом режиме с использованием
      протокола шифрования SSL! Счет действителен в течении суток! Если оплаты
      не последует заказ автоматически будет расформирован!!
    </p>
    <p>
      К сожалению бывают ситуации, когда в наличии не достает количества
      указанного в заказе, либо были оплачены конусы, которые не были
      использованы, мы оформим возврат уплаченной излишне суммы (сдачи) вам на
      карту. Деньги поступят в течении 3х банковских дней.
    </p>
    <h3>Доставка</h3>
    <p>
      Мы стараемся максимально быстро собирать ваши заказы, обычно на следующий
      день после поступления средств на наш расчетный счет! Но бывают дни
      распродаж или проведение акции и тогда сбор и отправка заказа может
      составлять до 3 дней. Доставка осуществляется ежедневно кроме субботы и
      воскресенья (и праздничных дней)! Если вы оформили заказ вечером в пятницу
      или субботу и воскресенье, то отправка будет осуществлена в понедельник.
      После того как мы отправим посылку, на вашу почту придет номер трека для
      отслеживания заказа.Отследить посылку вы сможете на сайтах: <br />
    </p>

    <ul class="uk-list uk-list-disc">
      <li><a href="https://www.pochta.ru/tracking#"> Почты России </a></li>
      <li><a href="https://cdek.ru/tracking"> СДЭК </a></li>
    </ul>
    <p>
      Иногда письма с номером для отслеживания, к сожалению, попадают в СПАМ!
      Пожалуйста проверьте этот раздел вашей почты, если в течении трех дней вы
      не получили письмо с номером!!
    </p>
    <p>
      Если и там не обнаружено письмо, пожалуйста напишите в форме сообщения (В
      нижнем левом углу экрана) или в Директ Инстагрмм @Filadonna с указанием
      номера заказа.
    </p>

    <h3>Возврат товара</h3>
    <p>
      Возврат товара надлежащего качества покупателем не допускается в силу ч.1
      ст.25 Закона РФ «О защите прав потребителей» от 07.02.1992 г., которая
      устанавливает, что пряжа подпадает под классификацию, входящую в «Перечень
      непродовольственных товаров надлежащего качества, не подлежащих возврату
      или обмену на аналогичный товар других размера, формы, габарита, фасона,
      расцветки или комплектации», утвержденный Постановлением Правительства РФ
      от 19 января 1998 г. № 55.
    </p>
  </article>
</div>
{%endblock%}
