{% load static %}
<div class="footer">
  <div class="uk-container">
    <div class="uk-flex footer-sub-container uk-flex-wrap uk-flex-wrap-middle">
      <div class="uk-width-1-3@s">
        <a class="footer-logo-link" href="">
          <div class="uk-flex uk-flex-column footer-logo-container">
            <span class="footer-logo">filadonna.ru</span>
            <span class="footer-sub-logo">Бобинная пряжа из италии</span>
            <span class="footer-logo-year">© 2023</span>
          </div></a
        >
      </div>
      <div class="uk-width-1-3@s">
        <ul class="uk-nav uk-nav-default">
          <li>
            <a class="footer-nav-link" href=""
              ><span class="footer-nav-link-text">Пряжа</span>
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href=""
              ><span class="footer-nav-link-text">Акции и скидки</span>
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href=""
              ><span class="footer-nav-link-text">Доставка и оплата</span>
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href=""
              ><span class="footer-nav-link-text">Полезная информация</span>
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href=""
              ><span class="footer-nav-link-text"
                >Политика конфиденциальности</span
              >
            </a>
          </li>
        </ul>
      </div>
      <div class="uk-width-1-3@s">
        <ul class="uk-nav uk-nav-default">
          <li>Контакты</li>

          <li>
            <a
              class="footer-nav-link"
              rel="noopener noreferrer"
              href="https://yandex.ru/maps/-/CDqYNEZj"
              target="_blank"
            >
              <span class="footer-nav-link-text">
                г.Тверь ул.Желябова 28 ТЦ "Универ" 2 этаж, пом.210</span
              >
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href="tel:+7(900)110-49-50"
              ><span class="footer-nav-link-text">+7(900)110-49-50</span>
            </a>
          </li>
          <li>
            <a class="footer-nav-link" href="mailto:filadonna.filato@yandex.ru"
              ><span class="footer-nav-link-text"
                >filadonna.filato@yandex.ru</span
              >
            </a>
          </li>
          <li>
            <div class="uk-flex footer-payment-logos">
              <img src="  {% static 'images/visa.png'%} " alt="visa" />
              <img src="  {% static 'images/mc.png'%} " alt="mastercard" />
              <img src="  {% static 'images/sheep.png'%} " />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
